{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Modification de votre playlist{% endblock %}

{% block body %}
	{% if playlist is empty %}
		<p>Veuillez creer des playlist. <a href="http://localhost/Symfony/web/app_dev.php/playlist/add">">Creation de Playlist</a></p>
	{% else %}
    Choix de la playlist à modifier :
    <ul>
  		{% for value in playlist %}
    		<li><a href="http://localhost/Symfony/web/app_dev.php/playlist/edit/{{ value.id }}">{{ value.name }}</a></li>
  		{% endfor %}
  	</ul>
  	{% endif %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/bootstrap.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/alertify.js') }}"></script> 
<script type="text/javascript">
$(document).ready(function() {
    // lorsque je soumets le formulaire
    $('#form').on('submit', function() {
 
        // je récupère les valeurs
        var name = $('#form_name').val();
 
        // je vérifie une première fois pour ne pas lancer la requête HTTP
        // si je sais que mon PHP renverra une erreur
        if(name == '') {
            alertify.error('Les champs ne sont pas remplis');
        } else {
            // appel Ajax
            $.ajax({
                url: $(this).attr('action'), // le nom du fichier indiqué dans le formulaire
                type: $(this).attr('method'), // la méthode indiquée dans le formulaire (get ou post)
                data: $(this).serialize(), // je sérialise les données (voir plus loin), ici les $_POST
                success: function(html) { // je récupère la réponse du fichier PHP
                    alertify.success('La chanson a été modifiée'); // j'affiche cette réponse
                }
            });
        }
        return false; // j'empêche le navigateur de soumettre lui-même le formulaire
    });
});
</script>
{% endblock %}