{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    Affichage de la playlist {{ playlist.name }}
    {% if playlist.songs is empty  %}
    	<p>
    		<a href="{{ path('MyPlaylist_viewSong') }}">Ajouter des chansons à votre playlist ?</a>
    	</p>
    {% else %}
    <table class="table table-striped" >
    <tr>
    	<th>
    		Titre
    	</th>
    	<th>
    		Suppression
    	</th>
    </tr>

        {% for song in playlist.songs %}
                <tr>
    				<td><a href="{{ path('MyPlaylist_viewSongId', {"id": song.id}) }}">{{song.title}}</a></td>
    				<td><a href="http://localhost/Symfony/web/app_dev.php/song/{{song.id}}/delToPlaylist/{{ playlist.id }}" ><button class="btn btn-danger">&times;</button></a></td>
    			</tr>
            {% if not loop.last %} - {% endif %}
        {% endfor %}
        </table>
        {% endif %}
        <button id="generatePlaylist" class="btn">Generéer la playlist</button>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    // lorsque je soumets le formulaire
    $('#generatePlaylist').on('click', function() {
            // appel Ajax
            $.ajax({
                url: "{{ path('MyPlaylist_createPlaylistM3u', {"id": playlist.id }) }}",
                type: "GET",  
                success: function(html) { 
                    alertify.success(html);
                    
                },
                error: function(html) { // je récupère la réponse du fichier PHP
                    alertify.error(html.responseText); // j'affiche cette réponse
                }
            });
        return false; // j'empêche le navigateur de soumettre lui-même le formulaire
    });
});
</script>
{% endblock %}

