{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    Titre de l'album : {{ album.title }} <br>
    Date de production : {{ album.dateProduction|date('d-m-Y') }}<br>
    {% if band.name is empty %}
    {% else %}
    Groupe : {{ band.name }}<br>
    {% endif %}
    {% if album.songs is empty %}
    {% else %}
    <p>Liste des chansons :</p>
    {% for song in album.songs %}
    <span class="bundle"><a href="{{ path('MyPlaylist_viewSongId',{"id":song.id}) }}">{{ song.title }}</a>&nbsp;<a class="close" href="{{ path('MyPlaylist_delSongToAlbum',{"idSong": song.id,"idAlbum":album.id}) }}">&times;</a></span>
    {% if not loop.last %} - {% endif %}
        {% endfor %}
        {% endif %}
{% endblock %}