{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Musiques{% endblock %}

{% block body %}
    <h3>Accueil</h3>
    <table class="table table-striped" >
    <tr>
    	<th>
    		Titre
    	</th>
    	<th>
    		durée
    	</th>
    	<th>
    		Chemin
    	</th>
    	<th>
    		Ajout
    	</th>
    </tr>
  	{% for value in song %}
    	<tr>
    		<td><a href="{{ path('MyPlaylist_viewSongId', {"id": value.id}) }}" >{{ value.title }}</a></td>
    		<td>{{ value.length }}</td>
    		<td>{{ value.filename }}</td>
    		<td>
                <div class="btn-group">
                  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    Action
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    {% for valuePl in playlist %}                    
                        <li><a href="{{ path('MyPlaylist_addSongToPlaylist', {"idSong": value.id,"idPlaylist": valuePl.id }) }}" >{{ valuePl.name }}</a></li>
                    {% else %}
                        <p>Veuillez creer une playlist</p>
                    {% endfor %}
                  </ul>
                </div>
            </td>
    	</tr>
  	{% else %}
  	    	<p>Pas de Musique(s) trouvé.</p>
  	{% endfor %}
</table>
{% endblock %}