<!DOCTYPE html>
<html>
    <head>
        <title>A propos !</title>
    </head>
    <body>
        <h3><a href="{{ path('MyPlaylist_home') }}">Home</a></h3>
        <h3><a href="{{ path('MyPlaylist_add') }}">Ajouter</a></h3>
        <h3><a href="{{ path('MyPlaylist_edit') }}">Modifier</a></h3>
        <h3><a href="{{ path('MyPlaylist_del') }}">Supprimer</a></h3>
        <h3><a href="{{ path('MyPlaylist_search') }}">Rechercher</a></h3>
        <h3><a href="{{ path('MyPlaylist_about') }}">A Propos</a></h3>

        <p>
            Ce site a été realiser dans un but pédagogique et dans le cadre d'un projet en Licence de Math/Info.
        </p>
        <p>
            Ci-joint le MCD que nous avons utiliser : <img src="#" alt="MCD"/>
        </p>
        <p>
            Nous remercions machin, bidule et truc.
        </p>
    </body>
</html>