<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MyPlaylist{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MyPlaylist est une application de gestion de Playlist">
    <meta name="author" content="Antoine Martin,Dorian Garcia">

    <!-- Le styles -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/bootstrap-responsive.css') }}" type="text/css" media="all" />
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MyPlaylist</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Se connecter</a>
            </p>
            <ul class="nav">
                <li class="active"><a href="{{ path('MyPlaylist_home') }}">Home</a></li>
                <li class="dropdown"><a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Playlist <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_addPlaylist') }}">Ajouter</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_editPlaylist') }}">Modifier</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_delPlaylist') }}">Supprimer</a></li>
                    </ul>
                </li>                    
                <li><a href="{{ path('MyPlaylist_search') }}">Rechercher</a></li>
                <li><a href="{{ path('MyPlaylist_song') }}">Musiques</a></li>
                <li><a href="{{ path('MyPlaylist_about') }}">A Propos</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <hr><hr>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Musiques</li>
                <li><a href="{{ path('MyPlaylist_addSong') }}">Ajouter une chanson</a></li>
                <li><a href="{{ path('MyPlaylist_editSong') }}">Modifier une chanson</a></li>
                <li><a href="{{ path('MyPlaylist_delSong') }}">Supprimer une chanson</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
                    {% block body %}
                    {% endblock %}           
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; MyPlaylist 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block script %}
        <script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/bootstrap.js') }}"></script> 
    {% endblock %}

  </body>
</html>
