<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MyPlaylist{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MyPlaylist est une application de gestion de Playlist">
    <meta name="author" content="Antoine Martin,Dorian Garcia">

    <!-- Le styles -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/bootstrap-responsive.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/alertify-core.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/myplaylistapp/css/alertify.default.css') }}" type="text/css" media="all" />
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MyPlaylist</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Se connecter</a>
            </p>
            <ul class="nav">
                <li class="active"><a href="{{ path('MyPlaylist_home') }}">Home</a></li>
                <li class="dropdown"><a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Playlist <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewPlaylist') }}">Mes Playlists</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewAddPlaylist') }}">Ajouter</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewEditPlaylist') }}">Modifier</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewDelPlaylist') }}">Supprimer</a></li>
                    </ul>
                </li>                
                <li class="dropdown"><a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Musiques <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewSong') }}">Musiques</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewAddSong') }}">Ajouter</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewEditSong') }}">Modifier</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewDelSong') }}">Supprimer</a></li>
                    </ul>
                </li>        
                <li class="dropdown"><a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Albums <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewAlbum') }}">Albums</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewAddAlbum') }}">Ajouter</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewEditAlbum') }}">Modifier</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewDelAlbum') }}">Supprimer</a></li>
                    </ul>
                </li>    
                 <li class="dropdown"><a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewTag') }}">Les Tags</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewAddTag') }}">Ajouter</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewEditTag') }}">Modifier</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewDelTag') }}">Supprimer</a></li>
                    </ul>
                </li>    
                <li class="dropdown"><a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Groupes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewBand') }}">Les groupes</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewAddBand') }}">Ajouter</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewEditBand') }}">Modifier</a></li>
                        <li><a tabindex="-1" href="{{ path('MyPlaylist_viewDelBand') }}">Supprimer</a></li>
                    </ul>
                </li> 
                <li><a href="{{ path('MyPlaylist_search') }}">Rechercher</a></li>
                <li><a href="{{ path('MyPlaylist_about') }}">A Propos</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<hr><hr>
        <div class="span12">
          <div class="hero-unit">
                    {% block body %}
                    {% endblock %}           
          </div>
        </div><!--/span-->
      </div><!--/row-->


      <footer class="span12">
          {% block footer %}
                &copy; Copyright 2012 Dorian Garcia & Antoine Martin.
            {% endblock %}        
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/bootstrap.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/myplaylistapp/js/alertify.js') }}"></script> 
    {% endblock %}

  </body>
</html>
